.offerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 1.5rem;
    font-family: 'Rubik', sans-serif;

}

.offerImage {
    width: 17rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);
}
.divider {
    width: 100%;
    max-width: 17rem; 
    height: 1px;
    background-color: #000;
    opacity: 0.3; 
    margin-top: 1rem;
}


.claimButton {
    background-color: #000;
    color: white;
    padding: 10px 50px;
    width: 17rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
    
    &:hover {
        background-color: rgb(53, 52, 52);
    }
}

.timerContainer {
    background-color: #FFD700;
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 0.5rem;
    text-align: center;
    max-width: 17rem;
    box-shadow:3px 3px 6px rgba(0, 0, 0, 0.2);
}

.timerText {
    color: #FFD700;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4169E1;
    border-radius: 5px;
}

.dealText {
    color: #4169E1;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.timerLabels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     margin-top: 10px;
}
.timerLabelsChildren{
    color: #FFD700;
    background-color: #4169E1;
    padding: 5px 15px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
}
